<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,300italic,700,400,300' rel='stylesheet'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {% include ['/partial/meta-twitter.html.twig'] %}
    {% include ['/partial/meta-facebook.html.twig'] %}
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="/conference/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/conference/css/owl.carousel.css" rel="stylesheet">
    <link href="/conference/css/main.css" rel="stylesheet">
    <link href="/css/yt.css" rel="stylesheet">
    <script src="/conference/js/modernizr.min.js"></script>
</head>
<body>
<main>
    <section id="content">
        <header class="hero-section" style="background: url('/uploads/media/1500x1000/06/16-dortmund-602962.jpg?v=1-0') center center no-repeat fixed;background-size: cover;">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a href="{{ eventLink }}" class="logo-brand"><img src="/media/36/download/Accenture-Interactive.png?v=1" data-at2x="/media/36/download/Accenture-Interactive.png?v=1" alt="Tickets auf Eventbrite" class="logo-nav" width="200px" style="width: 200px;padding-top:16px"> </a> </div>
                    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#speaker">Speakers</a></li>
                            <li><a href="#schedule">Zeitplan</a></li>
                            <li><a href="#contact">Kontakt</a></li>
                            <li><a href="#pricing">Preise</a></li>
                            <li><a href="#highlights">Highlights</a></li>
                            <li><a href="#venue">Location</a></li>
                            <li><a href="#faq">FAQ</a></li>
                            <li><a href="{{ eventLink }}" target="_blank" class="bttn">Tickets</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="welcome-message">
                            <h1>Accenture Interactive Java #NCAEvent</h1>
                            <p>6. April 2019</p>
                            <p>Dortmund</p>
                        </div>
                        <div class="action-btn"><a href="{{ eventLink }}" target="_blank" class="bttn">Tickets kaufen</a> <a href="#counter" class="bttn">Event Infos</a></div>
                    </div>
                </div>
            </div>
        </header>
        <section class="speaker section-spacing text-center" id="speaker">
            <div class="container">
                <header>
                    <h2>Java - 4 Top Live Coding Speaker </h2>
                    <h3>Übersicht der Accenture Interactive Speaker Java-Live-Coding Event</h3>
                </header>
                <div class="row">
                    <div class="speaker-slider">
                        <div class="item">
                            <div class="event-speaker">
                                <figure> <img src="/uploads/media/340x340/09/19-Jens-Eickmeyer-java-speaker.jpg?v=2-0" alt="Jens Eickmeyer Software Engineer und Architekt" data-no-retina>
                                    <figcaption>
                                        <h4>Jens Eickmeyer</h4>
                                        <p>
                                            Software Engineer und Architekt
                                        <div>Accenture Technology Solutions&nbsp;</div>
                                        </p>
                                        <ul class="social">
                                            <li><a href="https://twitter.com/jenseickmeyer" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://github.com/jenseickmeyer" target="_blank" rel="noopener"><i class="fa fa-github"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/jenseickmeyer" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="https://www.xing.com/profile/Jens_Eickmeyer" target="_blank" rel="noopener"><i class="fa fa-xing"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <a href="#0" data-type="speaker-0" class="bttn">Profil</a> </div>
                        </div>
                        <div class="item">
                            <div class="event-speaker">
                                <figure> <img src="/uploads/media/340x340/01/31-Sven%20Kubiak.jpg?v=2-0" alt="Sven Kubiak Digital Business Integration Senior Manager" data-no-retina>
                                    <figcaption>
                                        <h4>Sven Kubiak</h4>
                                        <p>
                                            Digital Business Integration Senior Manager
                                        <div>Accenture Interactive&nbsp;</div>
                                        </p>
                                        <ul class="social">
                                            <li><a href="https://github.com/svenkubiak" target="_blank" rel="noopener"><i class="fa fa-github"></i></a></li>
                                            <li><a href="https://www.xing.com/profile/Sven_Kubiak" target="_blank" rel="noopener"><i class="fa fa-xing"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <a href="#0" data-type="speaker-1" class="bttn">Profil</a> </div>
                        </div>
                        <div class="item">
                            <div class="event-speaker">
                                <figure> <img src="/uploads/media/340x340/00/40-mark-java-developer.jpg?v=1-0" alt="Mark Keinhörster Data Architect" data-no-retina>
                                    <figcaption>
                                        <h4>Mark Keinhörster</h4>
                                        <p>
                                            Data Architect
                                        <div>codecentric AG&nbsp;</div>
                                        </p>
                                        <ul class="social">
                                            <li><a href="https://twitter.com/kein_mark" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="https://github.com/crazzle" target="_blank" rel="noopener"><i class="fa fa-github"></i></a></li>
                                            <li><a href="https://www.xing.com/profile/Mark_Keinhoerster/" target="_blank" rel="noopener"><i class="fa fa-xing"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <a href="#0" data-type="speaker-2" class="bttn">Profil</a> </div>
                        </div>
                        <div class="item">
                            <div class="event-speaker">
                                <figure> <img src="/uploads/media/340x340/07/27-nca-team.jpg?v=2-0" alt="Java Special Speaker Community Highlight" data-no-retina>
                                    <figcaption>
                                        <h4>Java Special Speaker</h4>
                                        <p>
                                            Community Highlight
                                        <div>&nbsp;</div>
                                        </p>
                                        <ul class="social">
                                            <li><a href="https://twitter.com/nevercodealone" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a></li>
                                        </ul>
                                    </figcaption>
                                </figure>
                                <a href="#0" data-type="speaker-3" class="bttn">Profil</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="counter text-center" id="counter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-6"> <i class="fa fa-user fa-3x"></i>
                        <h3 class="total-number-1">
                            4
                        </h3>
                        <p>Speaker</p>
                    </div>
                    <div class="col-sm-3 col-xs-6"> <i class="fa fa-graduation-cap fa-3x"></i>
                        <h3 class="total-number-2">
                            40
                        </h3>
                        <p>Teilnehmer</p>
                    </div>
                    <div class="col-sm-3 col-xs-6"> <i class="fa fa-clock-o fa-3x"></i>
                        <h3 class="total-number-3">
                            10
                        </h3>
                        <p>Stunden</p>
                    </div>
                    <div class="col-sm-3 col-xs-6"> <i class="fa fa-hand-spock-o fa-3x"></i>
                        <h3>
                                        <span class="total-number-4">
                                            400
                                        </span>,- Euro
                        </h3>
                        <p>Spende</p>
                    </div>
                </div>
            </div>
        </div>
        <section class="about section-spacing">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="trailer_player">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/mfF1adszQwE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>Über #NCAEvents - Nerds für Nerds</h2>
                        <p>Web Developer brauchen kostenlose und gute Weiterbildung. Auf den Events lernen wir gemeinsam an der Funktastatur.</p><p>Wir wollen Coder coden sehen und zusammen lernen. Debugging, der richtige Einsatz von Tools, Pair Programming und der Blick über den Tellerrand.</p><p>Soziale Projekte sind uns wichtig und werden von uns mit dem Eintrittsgeld zu 100% unterstützt. Diesmal geht es an ein soziales Projekt in Dortmund.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="schedule section-spacing" id="schedule">
            <div class="container">
                <header class="text-center">
                    <h2>Zeitplan Accenture Interactive #NCAEvent</h2>
                    <h3>4 mal Live Coding mit der Funktastatur und Catering</h3>
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div role="tabpanel" id="schedule-days">
                            <ul class="nav nav-tabs content-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#day-1" aria-controls="day-1" role="tab" data-toggle="tab">
                                        <i class="fa fa-calendar"></i>Samstag, 6. April 2019
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="day-1">
                                    <ul class="timeline">
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>09:00 Uhr</p>
                                                    <h4>Frühstück</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>09:45 Uhr</p>
                                                    <h4>Begrüßung und Vorstellung - Roland Golla</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>09:55 Uhr</p>
                                                    <h4>Vorstellung Speaker</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-3 text-center">
                                                    <img src="/uploads/media/340x340/01/31-Sven%20Kubiak.jpg?v=2-0" alt="Sven Kubiak" data-no-retina>
                                                </div>
                                                <div class="col-md-9">
                                                    <p>10:00 Uhr</p>
                                                    <h4>Headless commerce mit Full Stack Frameworks</h4>
                                                    <p>SAP hybris ist eines der führenden Software-Produkte für Omnichannel, Product Content Management und eCommerce. Es bietet zahlreiche Möglichkeiten für den Betrieb von eCommerce Lösungen, u.a. durch den Betrieb als Headless eCommerce System auf Basis von REST-Schnittstellen.</p><p>Im Rahmen von Live Codings, werden wir verschiedene Java basierte Full Stack Frameworks mit der SAP hybris commerce suite verbinden und dabei herausfinden wie einfach (oder schwierig) es ist leichtgewichtige Frameworks mit der eCommerce Suite zu verbinden um sich aus dem Besten aus beiden Welten zu bedienen.</p>
                                                    <p class="event-speaker">- Mit Sven Kubiak</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>11:30 Uhr</p>
                                                    <h4>Pause</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>11:40 Uhr</p>
                                                    <h4>Vorstellung Speaker</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-3 col-md-push-9 text-center">
                                                    <img src="/uploads/media/340x340/09/19-Jens-Eickmeyer-java-speaker.jpg?v=2-0" alt="" data-no-retina>
                                                </div>
                                                <div class="col-md-9 col-md-pull-3">
                                                    <p>11:45 Uhr</p>
                                                    <h4>Serverless mit Amazon Web Services (AWS)</h4>
                                                    <p>„Serverless“ ist in den letzten Jahren in aller Munde. Oftmals werden für die Implementierung von Serverless Applications Services genutzt, die von den großen Cloud-Providern angeboten werden.</p><p>Wir möchten uns in einer Live Coding Session diesem Thema nähern, indem wir eine einfache Applikation bauen, die auf verschiedenen Services basiert, die von Amazon Web Services (AWS) angeboten werden. Wir werden dabei erfahren, was sich bei der Entwicklung von solchen Anwendungen ändert und mit welchen Vorteilen und Einschränkungen dies einhergeht.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>13:15 Uhr</p>
                                                    <h4>Mittagessen</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-3 text-center">
                                                    <img src="/uploads/media/340x340/07/27-nca-team.jpg?v=2-0" alt="Mitarbeiter" data-no-retina>
                                                </div>
                                                <div class="col-md-9">
                                                    <p>14:15 Uhr</p>
                                                    <h4>Vorstellung Sponsor Accenture Interactive</h4>
                                                    <p>Die Inhalte werden noch bekannt gegeben</p>
                                                    <p class="event-speaker">- Mit Mitarbeiter</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>14:25 Uhr</p>
                                                    <h4>Vorstellung Speaker</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-3 col-md-push-9 text-center">
                                                    <img src="/uploads/media/340x340/00/40-mark-java-developer.jpg?v=1-0" alt="Mark Keinhörster" data-no-retina>
                                                </div>
                                                <div class="col-md-9 col-md-pull-3">
                                                    <p>14:30 Uhr</p>
                                                    <h4>Funktionale Programmierung mit Java</h4>
                                                    <p>In jeder neuen Java Version finden mehr und mehr Features Platz, die eigentlich von dessen funktionalen Verwandten wie Clojure oder Scala kennt.</p><p>Wir schauen uns an, wie man mit Java funktional programmiert. Dabei lernen wir, wie man elegant und ohne Seiteneffekte entwickelt, nutzen dabei&nbsp;</p><p>Higher-Order Functions, und finden heraus, das Currying nichts mit Essen zu tun hat.</p>
                                                    <p class="event-speaker">- Mit Mark Keinhörster</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>16:00 Uhr</p>
                                                    <h4>Pause</h4>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-3 text-center">
                                                    <img src="/uploads/media/340x340/07/27-nca-team.jpg?v=2-0" alt="Top Speaker" data-no-retina>
                                                </div>
                                                <div class="col-md-9">
                                                    <p>16:15 Uhr</p>
                                                    <h4>Special Speaker Java Community</h4>
                                                    <p>Wir gerade von NCA gesucht</p>
                                                    <p class="event-speaker">- Mit Top Speaker</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>18:30 Uhr</p>
                                                    <h4>Gewinnspiel</h4>
                                                    <p>Ende der Veranstaltung mit Abmoderation, einem Gewinnspiel und Video-Interviews für Never Code Alone TV</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event">
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>19:30 Uhr</p>
                                                    <h4>Open After Event Party</h4>
                                                    <p>In den Räumen von Accenture Interactive Studio Dortmund</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="speaker section-spacing text-center" id="contact">
            <div class="container">
                <header>
                    <h2>Gestalte mit uns digitale Zukunft</h2>
                    <p>Bei Accenture Interactive schaffst du Kundenerlebnisse. Nicht irgendwelche, sondern die eindrucksvollsten des Planeten. Für weltweit führende Unternehmen. Wie du deinen Kunden hilfst, über sich hinauszuwachsen? Indem du unsere Leistungen im Bereich Design, Marketing, Content und Commerce klug miteinander kombinierst: als Mitglied eines „ausgezeichneten“ Teams, das erst kürzlich zum zweiten Mal in Folge von Ad Age zum&nbsp;weltweit größten digitalen Netzwerk erkoren wurde.</p>
                    <div>&nbsp;</div>
                    <h2>Neuste Jobs</h2>
                    <p>
                        <a href="https://www.accenture.com/de-de/careers/jobdetails?src=BADV&amp;id=00370932_de" target="_blank" rel="noopener">Technical Architect (all genders) Digital (E-Commerce/Multichannel/IoT)</a>
                        <br>
                        <a href="https://www.accenture.com/de-de/careers/jobdetails?src=BADV&amp;id=00257461_de&amp;lang=1" target="_blank" rel="noopener">Technische Architektin (all genders) E-Commerce-Integration</a>
                        <br>
                        <a href="https://www.accenture.com/de-de/careers/jobdetails?src=BADV&amp;id=00282161_de&amp;lang=1" target="_blank" rel="noopener">Java-Entwicklerin (all genders) E-Commerce</a>
                        <br>
                        <a href="https://www.accenture.com/de-de/careers/jobdetails?src=BADV&amp;id=00268402_de&amp;lang=1" target="_blank" rel="noopener">Entwicklerin (all genders) E-Commerce – SAP Hybris</a>
                        <br>
                    </p>
                </header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="event-speaker">
                            <figure> <img src="/uploads/media/270x270/00/20-anne-accenture.jpg?v=1-0" alt="Anne Kikuts Marketing Lead Accenture Interactive" data-no-retina>
                                <figcaption>
                                    <h4>Anne Kikuts</h4>
                                    <p>Marketing Lead Accenture Interactive</p>
                                    <ul class="social">
                                        <li><a href="https://www.xing.com/profile/Anne_Kikuts/cv" target="_blank" rel="noopener"><i class="fa fa-xing"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/anne-kikuts-2b968999/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="event-speaker">
                            <figure> <img src="/uploads/media/270x270/03/33-Lisa-Bewersdorff.jpg?v=2-0" alt="Lisa Bewersdorff Marketing Assistant Accenture Interactive" data-no-retina>
                                <figcaption>
                                    <h4>Lisa Bewersdorff</h4>
                                    <p>Marketing Assistant Accenture Interactive</p>
                                    <ul class="social">
                                        <li><a href="https://www.xing.com/profile/Lisa_Bewersdorff/cv" target="_blank" rel="noopener"><i class="fa fa-xing"></i></a></li>
                                        <li><a href="https://www.linkedin.com/in/lisa-bewersdorff-69018078/" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </section>
        <section class="pricing section-spacing text-center" id="pricing">
            <div class="container">
                <header>
                    <h2>Der Ticketpreis ist eine freiwillige Spende in ein soziales Projekt</h2>
                    <h3></h3>
                    <p></p>
                </header>
                <div class="row">
                    <div class="col-md-12">
                        <div class="plan">
                            <div class="header">
                                <h4>Teilnehmer</h4>
                                <div class="price"><span class="currency">€</span>10,-<span class="ticket">/ Pro Ticket als Spende <b>Sternenbrücke</b></span> </div>
                            </div>
                            <ul class="plan-features">
                                <li>4 Live Coding Sessions</li>
                                <li>Frühstück und Mittagessen</li>
                                <li>Community Networking</li>
                                <li>Getränke</li>
                                <li>Spende für ein soziales Projekt</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="action-btn-pricing"><a href="{{ eventLink }}" target="_blank" class="bttn">Ticket kaufen</a></div>
            </div>
        </section>
        <section class="hotels section-spacing text-center" id="highlights">
            <div class="container">
                <header class="text-center">
                    <h2>Weitere Highlights</h2>
                    <h3>Wir setzen uns für gute Menschen ein.</h3>
                </header>
                <div class="row">
                    <div class="col-md-6">
                        <figure class="text-left"> <img src="/uploads/media/540x370/01/21-ma-tee.jpg?v=1-0" alt="[ma.tɕa]" data-no-retina>
                            <figcaption>
                                <div class="hotel-details">
                                    <h4>[ma.tɕa]<span class="ratings five"></span></h4>
                                    <p class="hotel-price">Getränke Startup aus NRW</p>
                                    <p>Der erste natürliche &amp; gesunde Wachmacher in Bio- und Vegan Qualität.. 27mg Koffein/100ml aus dem feinsten japanischen Matcha. Kombiniert mit Limette und der Süße der Agave ergibt sich ein einzigartiges erfrischendes Erlebnis und dein Fokus bleibt für bis zu 5 Stunden auf höchstem Level! #wachschütteln. Das Getränk ist in der Entwickler Szene beliebt und kann auf dem Event getestet werden.</p>
                                    <a class="hotel-map" href=https://www.ma-tea.de/ target="_blank" rel="noopener">[ma.tɕa]</a></div>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <figure class="text-left"> <img src="/uploads/media/540x370/03/53-kitz-do.jpg?v=1-0" alt="KITZ.do" data-no-retina>
                            <figcaption>
                                <div class="hotel-details">
                                    <h4>KITZ.do<span class="ratings five"></span></h4>
                                    <p class="hotel-price">Schülerlabor in Dortmund</p>
                                    <p>Wir setzen uns ein für Software Qualität und soziale Projekte. Alle Einnahmen aus den Tickets spenden wir in das soziale Projekt Kitz.do. Das Geld wird persönlich auf dem Event übergeben und auch ein Interview für Social Media Marketing veröffentlicht. dadurch versuchen wir auch andere Einrichtungen dazu zu ermutigen Facebook für sich zu nutzen.</p>
                                    <a class="hotel-map" href=https://kitzdo.de/ target="_blank" rel="noopener">KITZ.do</a></div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <section class="venue section-spacing" id="venue" style="background: url('/uploads/media/1500x1000/08/18-dortmund-java.jpg?v=1-0') center center no-repeat fixed;background-size: cover;position: relative;color: #fff;">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2>Anfahrt</h2>
                        <address>
                            <p> <i class="fa fa-map-marker"></i> <a href="https://www.accenture.com/de-de/interactive-index" target="_blank">Accenture Interactive</a> • Sebrathweg 20 • 44149 Dortmund</p>
                            <p><i class="fa fa-mobile"></i> Roland: 017624747727 </p>
                            <p class="map-link"><a target="_blank" href="https://www.google.com/maps/place/Collabor8/@53.6008446,10.0735209,17z/data=!3m1!4b1!4m5!3m4!1s0x47b18962292e34a3:0x5b3b489cd9b78ae9!8m2!3d53.6008414!4d10.0757096">Google Maps</a></p>
                        </address>
                    </div>
                    <div class="col-md-7">
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9936.472447802662!2d7.39503!3d51.4927!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcab52ab5ae3e23ea!2sAccenture+Deutschland+GmbH!5e0!3m2!1sde!2sde!4v1548668669178" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="faq section-spacing" id="faq">
        <div class="container">
            <header class="text-center">
                <h2>FAQ</h2>
                <h3>Fragen und Antworten zu dem Event</h3>
            </header>
            <div class="row">
                <div class="col-md-10 center-block">
                    <ul class="cd-faq-group">
                        <li> <a class="cd-faq-trigger" href="#0">Brauche ich einen Laptop</a>
                            <div class="cd-faq-content">
                                <p>Nein, es reicht da zu sein. Hier hat auch nicht jeder einen Schreibtisch. Man kann aber gerne ein Gerät mitbringen. Steckdosen sind vorhanden.</p>
                            </div>
                        </li>
                        <li> <a class="cd-faq-trigger" href="#0">Kann ich kostenlos parken?</a>
                            <div class="cd-faq-content">
                                <p>Das klären wir noch.</p>
                            </div>
                        </li>
                        <li> <a class="cd-faq-trigger" href="#0">Live-Coding - Muß ich an die Tastatur?</a>
                            <div class="cd-faq-content">
                                <p>Keiner muß an die Tastatur. Sie wird Reihenweise an Freiwillige weiter gegeben. Alles ist ganz entspannt und freundlich. Darauf legen wir großen Wert und moderieren hier auch.</p>
                            </div>
                        </li>
                        <li> <a class="cd-faq-trigger" href="#0">Gibt es vegetarisches Essen?</a>
                            <div class="cd-faq-content">
                                <p>Ja das wird auf jeden Fall berücksichtigt.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer section-spacing text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <p class="footer-links"><a href="/impressum/">Impressum</a> | <a href="/">NCA</a> | <a href="https://blog.nevercodealone.de/" target="_blank">Blog</a></p>
                </div>
                <div class="col-sm-4">
                    <figure><a href="/"><img src="/img/logo.png" data-at2x="/img/logo.png" alt="Never Code Alone"></a></figure>
                    <small><a href="/employer-branding">Employer Branding - Never Code Alone Event</a></small></div>
                <div class="col-sm-4">
                    <p class="footer-contact-us">Folgt uns</p>
                    <ul class="social">
                        <li><a href="https://www.youtube.com/channel/UCjVT6iJ_wg7OM0DkV5TpNCQ"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="https://twitter.com/nevercodealone" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/nevercodealone" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</main>
<div>
    <div class="cd-speaker-bio speaker-0">
        <div class="cd-bio-content">
            <h2>Jens Eickmeyer - Software Engineer und Architekt</h2>
            <p>Jens Eickmeyer ist leidenschaftlicher Software Engineer und Architekt. Sein aktueller Fokus liegt auf Cloud-native Application Development, insbesondere auf der Plattform von Amazon Web Services (AWS).</p>
        </div>
    </div>
    <div class="cd-speaker-bio speaker-1">
        <div class="cd-bio-content">
            <h2>Sven Kubiak - Digital Business Integration Senior Manager</h2>
            <p>Sven arbeitet seit 10 Jahren im eCommerce Bereich und hat sich auf die Umsetzung von Lösungen mit SAP hybris spezialisiert. Nebenbei beschäftigt er sich intensiv mit Java Full Stack Frameworks, hat selber ein solches entwickelt und ist ein echter Fan von pragmatischer Software-Entwicklung</p>
        </div>
    </div>
    <div class="cd-speaker-bio speaker-2">
        <div class="cd-bio-content">
            <h2>Mark Keinhörster - Data Architect</h2>
            <p>Mark ist im Big-Data Zoo zu Hause und bringt Erfahrungen mit Hadoop und Apache Spark mit. Außerdem beschäftigt er sich mit Docker, Microservices und Cloud-Technologien.</p>
        </div>
    </div>
    <div class="cd-speaker-bio speaker-3">
        <div class="cd-bio-content">
            <h2>Java Special Speaker - Community Highlight</h2>
            <p>Wir suchen gerade einen Top Speaker für das Event</p>
        </div>
    </div>
    <a href="#0" class="cd-speaker-bio-close">Close</a>
</div>

<script src="/conference/js/jquery-2.1.3.min.js"></script>
<script src="/conference/js/bootstrap.min.js"></script>
<script src="/conference/js/waypoints.min.js"></script>
<script src="/conference/js/jquery.animateNumber.min.js"></script>
<script src="/conference/js/waypoints-sticky.min.js"></script>
<script src="/conference/js/retina.min.js"></script>
<script src="/conference/js/owl.carousel.min.js"></script>
<script src="/conference/js/jquery.ajaxchimp.min.js"></script>
<script src="/conference/js/jquery.form.min.js"></script>
<script src="/conference/js/jquery.validate.min.js"></script>
<script src="/conference/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
{% include '/partial/google-analytics.html.twig' %}
<!-- Global site tag (gtag.js) - Google Ads: 760649583 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-760649583"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-760649583');
</script>
</body>
</html>

